In [1]:
import pandas as pd

# Read CSV's

In [2]:
pres2009 = pd.read_csv('Prescriptions2009.csv')
pres2010 = pd.read_csv('Prescriptions2010.csv')
pres2011 = pd.read_csv('Prescriptions2011.csv')
pres2012 = pd.read_csv('Prescriptions2012.csv')
pres2013 = pd.read_csv('Prescriptions2013.csv')
pres2014 = pd.read_csv('Prescriptions2014.csv')
pres2015 = pd.read_csv('Prescriptions2015.csv')
pres2016 = pd.read_csv('Prescriptions2016.csv')

# Samples

In [3]:
pres2009.head(15)

    FIPS_Code 2009_Prescribing_Rate
0        2013                     –
1        2016                     –
2        2020                  74.6
3        2050                     –
4        2060                     –
5        2068                     –
6        2070                     –
7        2090                  57.1
8        2100                     –
9        2105                     –
10       2110                  99.4
11       2122                 103.1
12       2130                 136.0
13       2150                  79.9
14       2164                     –

In [4]:
pres2010.head(15)

    FIPS_Code 2010_Prescribing_Rate
0        2013                     –
1        2016                     –
2        2020                  75.1
3        2050                     –
4        2060                     –
5        2068                     –
6        2070                     –
7        2090                  54.8
8        2100                     –
9        2105                     –
10       2110                  92.2
11       2122                 103.0
12       2130                 137.5
13       2150                  62.2
14       2164                     –

In [5]:
pres2011.head(15)

    FIPS_Code 2011_Prescribing_Rate
0        2013                     –
1        2016                     –
2        2020                  75.4
3        2050                     –
4        2060                     –
5        2068                     –
6        2070                     –
7        2090                  58.0
8        2100                     –
9        2105                     –
10       2110                  91.3
11       2122                 102.6
12       2130                 138.2
13       2150                  50.2
14       2164                     –

In [6]:
pres2012.head(15)

    FIPS_Code 2012_Prescribing_Rate
0        2013                     –
1        2016                     –
2        2020                  75.3
3        2050                     –
4        2060                     –
5        2068                     –
6        2070                     –
7        2090                  58.7
8        2100                     –
9        2105                     –
10       2110                  90.9
11       2122                 101.7
12       2130                 112.7
13       2150                  47.7
14       2164                     –

In [7]:
pres2013.head(15)

    FIPS_Code 2013_Prescribing_Rate
0        2013                     –
1        2016                     –
2        2020                  68.6
3        2050                     –
4        2060                     –
5        2068                     –
6        2070                     –
7        2090                  53.9
8        2100                     –
9        2105                     –
10       2110                  90.2
11       2122                 102.2
12       2130                 102.9
13       2150                  41.7
14       2164                     –

In [8]:
pres2014.head(15)

    FIPS_Code 2014_Prescribing_Rate
0        2013                     –
1        2016                     –
2        2020                  68.0
3        2050                     –
4        2060                     –
5        2068                     –
6        2070                     –
7        2090                  54.3
8        2100                     –
9        2105                     –
10       2110                  87.6
11       2122                 100.0
12       2130                 100.6
13       2150                  38.6
14       2164                     –

In [9]:
pres2015.head(15)

    FIPS_Code 2015_Prescribing_Rate
0        2013                     –
1        2016                     –
2        2020                  68.2
3        2050                     –
4        2060                     –
5        2068                     –
6        2070                     –
7        2090                  50.5
8        2100                     –
9        2105                     –
10       2110                  81.3
11       2122                 100.1
12       2130                 101.8
13       2150                  34.2
14       2164                     –

In [10]:
pres2016.head(15)

    FIPS_Code 2016_Prescribing_Rate
0        2013                     –
1        2016                     –
2        2020                  66.3
3        2050                     –
4        2060                     –
5        2068                     –
6        2070                     –
7        2090                  48.4
8        2100                     –
9        2105                     –
10       2110                  79.8
11       2122                  97.9
12       2130                  91.5
13       2150                  33.6
14       2164                     –